.app-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right, 
    #8a2be2 0%, 
    #4b0082 50%, 
    #000000 100%
  );
}


.main-content {
  flex: 1;
  padding: 20px;
}
